.component,li.major-heading,.hd,.b4,.three-five-four-grid .sponsored-features,.component .hd,.b1,.b5,#footer{border-top-color:#d61d00;}
.network-front-component .hd{border-top-color:#d61d00!important;}
.blog-navigation,.series-navigation{border-color:#d61d00;}
#pluck-container h2,.discussion,.discussion h2,.discussion .comment,.discussion #post-area{border-color:#d61d00!important;}
.rating-container,.pix-grid li a span{background-color:#d61d00;}
.pixies li.pixie.mini .caption,li.pixie.big .caption,.zone-bg,.pixies .zone-bg .caption{background-color:#d61d00;}
.byline-toolbox,#relatedInformation,#more-in-series h3,.gallery-grid #badge-full .image-badge{border-color:#d61d00;}